/* Общие стили */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #fff;
  background-color: #000;
}

.app {
  position: relative;
  z-index: 1;
}

.top-line {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
}

.info-group {
  display: flex;
  align-items: center;
  gap: 24px;
}

.logoo {
  position: absolute;
  left: 740px;

  width: 89px;
  height: 68px;
  object-fit: contain;
}

.yandex {
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 38px;
  padding: 4px 22px 4px 5px;

  background: rgba(255, 255, 255, 0.1);
  color: #ffffff;
  font-size: 14px;
  line-height: 1.2;
}

.logo {
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 50%;
  padding: 8px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}

.OTZ {
  font-size: 12px;
  color: #ffffffb2;
}

.salon {
  font-size: 12px;
  font-weight: 500;
  white-space: nowrap;
  color: white;
}

.contact {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-left: 770px;
}

.contact-icons {
  display: flex;
  gap: 10px;
}

.icon-circle {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  padding: 9px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-circle img {
  width: 24px;
  height: 24px;
}

.contact-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact-info .phone {
  font-weight: bold;
  margin-bottom: 4px;
  color: white/900;
  font-size: 14px;
}
.contact-info .hours {
  font-size: 12px;
  color: text/white;
}

.btn-primary {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px 16px;
  background-color: #ffffff;
  border: none;
  color: #3a3a3a;
  cursor: pointer;
  border-radius: 4px;
  white-space: nowrap;
  font-size: 16px;
  border-radius: 99px;
  width: 185px;
  height: 40px;
}

.btn-primary .checkmark {
  width: 24px;
  height: 24px;
}

.video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;

  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

/* Хедер */
.header {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  padding: 10px 20px;

  .header-top {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: #ccc;
  }

  .header-middle {
    width: 100%;
    margin-top: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding: 10px 0;

    .nav {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      width: 100%;
      max-width: 1550px;
      margin: 0 auto;
      padding: 0px 8px;

      a {
        text-decoration: none;
        color: #ffffff;
        font-size: 18px;
        font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.main {
  margin-top: 20px;
  margin-left: 10px;

  .hero {
    padding: 10px;

    h1 {
      font-size: 45px;
      font-weight: bold;
      margin-bottom: 20px;
      color: #ffffff;
    }

    p {
      font-size: 18px;
      margin-bottom: 20px;
      color: #ffffffb1;
    }

    .btn-secondary {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 15px;
      font-weight: bold;
      background-color: #d4b26f;
      color: #fff;
      border: none;
      border-radius: 99px;
      padding: 10px 20px;
      width: 283px;
      height: 56px;
      font-size: 14px;
      cursor: pointer;
    }
  }

  .services {
    display: flex;
    justify-content: center;
    gap: 5px;
    flex-wrap: wrap;
    margin-top: 40px;
  }

  .service-card {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    padding: 20px;
    text-align: left;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.3s ease;

    width: 144px;
    height: 138px;
    font-size: 12px;
  }

  .service-card.active {
    background: rgba(255, 255, 255, 0.3);
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  }

  .circle {
    width: 32px;
    height: 32px;
    background: rgba(255, 255, 255, 0.3);
    color: #ffffff;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .special-card {
    background: rgba(255, 255, 255, 0.3);
    width: 245px;
    height: 138px;
    border-radius: 16px;
    padding: 20px;
    cursor: pointer;
    transition: background 0.3s ease, box-shadow 0.3s ease;
    box-shadow: none;
  }

  .special-card.active {
    background: white;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  }

  .special-content {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 210px;
    height: 100px;
  }

  .text-block {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .service-id {
    font-size: 12px;
    font-weight: bold;
    color: #333;
    width: 32px;
    height: 32px;
    background: rgba(255, 255, 255, 0.3);
    border: 2px solid#D5AF6299;
    margin-bottom: 8px;

    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }

  .service-title {
    font-size: 16px;
    color: #1b1b1b;
    font-size: 12px;
    text-align: center;
    margin: 0;
  }

  .service-img {
    width: 115px;
    height: auto;
    border-radius: 12px;
  }

  .service-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
  }

  .external-line {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 4px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 2px;
    transition: background 0.3s ease;
  }

  .external-line.active {
    background: #ffffff;
  }
}
